/* Box-sizing border-box */
* { box-sizing: border-box; }


/* Some default styles to make each box visible. This targets all items with a class that starts with "box" */
[class^="box"] {
  color:white;
  font-size: 100px;
  text-align: center;
  text-shadow:4px 4px 0 rgba(0,0,0,0.1);
  padding:10px;
}

/* Colors for each box */
.box1 { background:#1abc9c;}
.box2 { background:#3498db;}
.box3 { background:#9b59b6;}
.box4 { background:#34495e;}
.box5 { background:#f1c40f;}
.box6 { background:#e67e22;}
.box7 { background:#e74c3c;}
.box8 { background:#bdc3c7;}
.box9 { background:#2ecc71;}
.box10 { background:#16a085;}

/* Border for flex container */
.flex-container {
  border:10px solid goldenrod;
}

/* We start writing our flexbox here. The above is just page setup */

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 100vh;
}

.box1 {
  width: 100%;
  border: 5px white solid;
  
}

.box2, .box3 {
  width: 50%;
  border: 3px white solid;
}

.box4, .box5, .box6, .box7 {
  width: 25%;
  border: 2px white solid;
}

.box8, .box9, .box10 {
  width: 33%;
  border: 3px white solid;
}

